<nav>
    <ul class="pagination justify-content-center">
        <li ng-class="{'disabled': !$ctrl.page.prevPage}" ng-click="$ctrl.pageTo($ctrl.page.prevPage)" class="page-item">
            <a class="page-link" href="#">Previous</a>
        </li>

        <li ng-repeat="p in $ctrl.page.pages" ng-class="{'active': p.current}" class="page-item"><a href="#" class="page-link" ng-click="$ctrl.pageTo(p);">{{ p.label }}</a></li>

        <li ng-class="{'disabled': !$ctrl.page.nextPage}" ng-click="$ctrl.pageTo($ctrl.page.nextPage)" class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>