<jsui-messages></jsui-messages>

<div class="card">
    <div class="card-header">
        <div class="row justify-content-end">
            <div class="col-md-auto">
                <div class="input-group">
                    <label class="col-form-label">Commit mode: &nbsp;</label>
                    <select ng-model="$ctrl.sqlOptions.commitType" class="form-control form-control-sm">
                        <option value="ROLLBACK">Rollback</option>
                        <option value="COMMIT">Commit</option>
                    </select>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="input-group">
                    <label for="staticEmail" class="col-form-label">Fetch count: &nbsp;</label>
                    <input ng-model="$ctrl.sqlOptions.fetchCount" type="number" min="1"
                           class="form-control form-control-sm" placeholder="Fetch count ...">
                </div>
            </div>
            
            <div class="col-md-auto">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button ng-click="$ctrl.sqlEnter()" class="btn btn-sm btn-outline-success" type="button"><i class="fa fa-play-circle" aria-hidden="true"></i> Run</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        
        
        <jsui-ace text = "$ctrl.sqlText" selected = "$ctrl.sqlSelected" current-line = "$ctrl.sqlLine"
                  on-enter = "$ctrl.sqlEnter(selected)"
                  on-autocomplete = "$ctrl.sqlAutocomplete(event)"
        />
    </div>
    <div class="card-footer text-muted text-center" ng-show="$ctrl.sqlResult.data">
        {{ $ctrl.sqlResult.data.length }} rows fetched in {{ $ctrl.sqlResult.queryTime }} ms
    </div>
</div>

<div class="card" ng-if="$ctrl.sqlResult">
    <div class="card-block">
        <div class="row">
            <div class="col sql-result">
                <table class="table table-hover table-sm table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th ng-repeat="header in $ctrl.sqlResult.headers">{{ header.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in $ctrl.sqlResult.data | limitTo:50">
                            <td ng-repeat="column in row track by $index">{{ column }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>