<jsui-messages state="$ctrl.error"></jsui-messages>

<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-primary" ui-sref="app.db({dbId: 'new'})">
            <i class="fa fa-plus" aria-hidden="true"></i> New Connection
        </button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>User</th>
                    <th>Connected</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="$ctrl.loading">
                    <td colspan="4"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Loading ...</td>
                </tr>
                <tr ng-repeat="db in $ctrl.dbs track by db.id">
                    <td>{{ db.name }}</td>
                    <td>{{ db.url }}</td>
                    <td>{{ db.user }}</td>
                    <td>{{ db.connected }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
