<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">
          <!-- core ui icon -->
          <i class="nav-icon cui-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="identity" routerLinkActive="active">
          <!-- core ui icon -->
          <i class="nav-icon cui-user"></i> Identities
        </a>
      </li>

    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button" (click)="doMinimize()"></button>
</div>
